body {
  --card-background-color: rgba(255, 255, 255, .015);
  --card-border-color: rgba(255, 255, 255, 0.1);
  --card-box-shadow-1: rgba(0, 0, 0, 0.05);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(0, 0, 0, 0.1);
  --card-box-shadow-2-y: 8px;
  --card-box-shadow-2-blur: 15px;
  --card-label-color: #FFFFFF;
  --card-icon-color: #D4D4D8;
  --card-icon-background-color: rgba(255, 255, 255, 0.08);
  --card-icon-border-color: rgba(255, 255, 255, 0.12);
  --card-shine-opacity: .1;
  --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, rgba(52, 211, 153, 0.18) 295deg, rgba(16, 185, 129, 0) 360deg);
  --card-line-color: #2A2B2C;
  --card-tile-color: rgba(16, 185, 129, 0.05);
  --card-hover-border-color: rgba(255, 255, 255, 0.2);
  --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
  --card-hover-box-shadow-1-y: 5px;
  --card-hover-box-shadow-1-blur: 10px;
  --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
  --card-hover-box-shadow-2-y: 15px;
  --card-hover-box-shadow-2-blur: 25px;
  --card-hover-icon-color: #34D399;
  --card-hover-icon-background-color: rgba(52, 211, 153, 0.1);
  --card-hover-icon-border-color: rgba(52, 211, 153, 0.2);
  --blur-opacity: .01;
}

/*TYPOGRAPHY*/
@font-face {
  font-family: "Alliance";
  src: url("../fonts/Alliance-Bold.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Alliance";
  src: url("../fonts/Alliance-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Alliance";
  src: url("../fonts/Alliance-Regular.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Alliance";
  src: url("../fonts/Alliance-Light.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Alliance";
  src: url("../fonts/Alliance-Light-Italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gt";
  src: url("../fonts/gtRegular.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gt";
  src: url("../fonts/gtLight.otf");
  font-weight: 400;
  font-style: normal;
}

/*COLORES y LETRAS*/
:root {
  --black: #000000;
  --white: #ffffff;
  --dark-grey: #2e2e2e;
  --light-grey: #6b6b6b;
  --dark-blue: #1c2d9c;
  --light-blue: #0e91e3;
  --purple: #69018f;
  --green: #179c48;
  --yellow: #fad000;
  --orange: #ed7b00;
  --red: #d6040b;
  --green-system: #51b56d;
  --main-font: "Alliance";
  --secondary-font: "Gt";
}

.bg-grey {
  background-color: #232325;
}

.bg-light-grey {
  background: #e6e6e6;
}

.bg-dark-grey {
  background: #d9d9d9;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 5.4rem;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  font-size: 3.4rem;
}

h5 {
  font-size: 2.3rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.8rem;
  font-family: var(--secondary-font);
  letter-spacing: -0.4px;
}

.f-two {
  font-family: var(--secondary-font);
}

@media (max-width: 991px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.2rem;
  }
}

.text-green {
  color: var(--green-system);
}

/*Contenido*/
.show-desktop {
  display: initial;
}

.show-responsive {
  display: none !important;
}

@media (max-width: 64em) {
  .show-desktop {
    display: none !important;
  }

  .show-responsive {
    display: initial !important;
  }
}

nav {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 90%;
  padding: 15px;
  z-index: 100;
  will-change: transform;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  mix-blend-mode: difference;
}

@media (max-width: 64em) {
  nav {
    width: 100%;
  }
}

nav .logo {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: all 0.2s ease;
}

nav.scroll-down .logo {
  clip-path: polygon(0 0, 12% 0, 12% 100%, 0% 100%);
  transition: all 0.3s ease-in-out;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-size: .8rem;
}

.nav-link:hover {
  color: var(--green-system);
}

.link-item {
  display: flex;
  align-items: center;
}

.link-item img {
  height: 20px;
  margin-right: 10px;
}

.nav-link.responsive {
  font-size: 1.7rem;
}

.dropdown-item img {
  mix-blend-mode: color !important;
}

body {
  background: #1c1c1e;
  color: var(--white);
  font-family: var(--main-font);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--white);
  background: var(--green);
}

::selection {
  color: var(--white);
  background: var(--green);
}

/*NAV MOVIL*/
.nav-movil {
  height: 100%;
  width: 100%;
  position: fixed;
  background: var(--black);
  top: -100%;
  left: 0;
  z-index: 99999;
  transition: all 0.3s ease-in-out;
  border-bottom: 4px solid var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-movil.show {
  top: 0;
}

.movil-links li{
  margin-bottom: 1.3rem;
}

.movil-links a {
  font-family: var(--secondary-font);
  font-size: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.movil-links .collapse a {
  font-size: 20px;
}

.movil-links .collapse li{
  margin-bottom: .8rem;
}

.movil-links a:hover {
  letter-spacing: 2px;
  color: var(--green-system);
}

#closeB ion-icon {
  font-size: 40px;
  color: white;
}

/*SOCIAL MEDIA*/
.social-media {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
  mix-blend-mode: difference;
}

.social-media a {
  color: white;
  width: 100%;
  margin: 5px 0px;
}

.social-media a ion-icon {
  font-size: 20px;
}

/*HERO*/
.hero {
  height: 100vh;
  background: var(--white);
  color: var(--dark-grey);
}

@media (max-width: 64em) {
  .hero {
    height: 120vh;
  }
}

.hero-m-con {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding: 5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-title {
  position: relative;
  z-index: 1;
  width: 60rem;
  margin-top: -2rem;
}

.hero .wave {
  position: absolute;
  overflow: hidden;
  bottom: -290px;
  z-index: 9;
  width: 100%;
  height: 550px;
}

@media (max-width: 64em) {
  .hero .wave {
    height: 350px;
    bottom: -100px;
  }

  .wave img {
    height: 100% !important;
    width: auto !important;
  }
}

#canvas,
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
}

/*Sections General*/
.s-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-top: 4vw;
  margin-right: auto;
  margin-left: auto;
}

.s-section.cta {
  overflow: visible;
  margin-bottom: 16rem;
}

.s-white {
  background: #f4f4f4;
  color: var(--dark-grey);
}

.s-black {
  background: var(--dark-grey);
  color: var(--white);
}

.s-con {
  position: relative;
  margin-right: 2vw;
  margin-left: 2vw;
  padding-right: 12px;
  padding-bottom: 24px;
  padding-left: 12px;
  border-radius: 0.7em;
}

.s-con.cta {
  padding-right: 0;
  padding-left: 0;
}

.s-bg-cta-con {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 25rem;
  border-radius: 0.7em;
}

.s-bg-cta-con.view {
  animation: 1.3s ctaR ease-in-out;
}

@keyframes ctaR {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.overlay {
  position: absolute;
  background: var(--dark-grey);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.s-top {
  position: absolute;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5.6rem;
  padding-right: 18px;
  padding-left: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(35, 35, 37, 0.2);
}

.s-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.s-content {
  position: relative;
  z-index: 1;
}

.s-indent {
  margin-top: 0;
  padding-top: 15%;
}

.s-bg-img {
  position: absolute;
  left: 0;
  top: -10%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 120%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 37%;
  object-position: 50% 37%;
  z-index: 0;
}

.cta-indent {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1010px;
  margin-left: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.s-cta-quote-title {
  position: relative;
  z-index: 5;
  max-width: 43rem;
  margin-top: -8.1rem;
  margin-bottom: 2rem;
}

.cta-color-block {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: -8.7rem;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 17rem;
  margin-right: 24px;
  margin-left: 24px;
  padding-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 0.7em;
}

.s-indent-cta {
  padding-top: 5%;
  padding-bottom: 2%;
}

.s-indent-cta h4 {
  margin-bottom: 5.5rem;
}

.s-full-w {
  position: relative;
  overflow: hidden;
  padding-right: 6px;
  padding-bottom: 4.5rem;
  padding-left: 6px;
  border-radius: 9px;
  transform-origin: 0% 50%;
  margin-top: 5rem;
}

.s-full-w h2 {
  font-size: 2.9rem;
}

@media (max-width: 64em) {
  .cta-indent {
    margin-left: 5%;
  }

  .s-cta-quote-title {
    margin-top: 1rem;
  }
}

@media (max-width: 64em) {
  .s-full-w h2 {
    font-size: 2.3rem;
  }
}

.s-full-m {
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 5%;
}

.s-label {
  position: relative;
  z-index: 1;
  max-width: 15rem;
  margin-bottom: 20px;
  margin-left: 12px;
  padding-top: 16px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: var(--secondary-font);
}

.s-label.cta {
  margin-left: 28px;
  padding-top: 22px;
}

.column-2 {
  columns: 2 20px;
  break-inside: avoid;
}

.card-img {
  border-radius: 20px;
  height: 250px;
  padding: 1rem;
  margin-bottom: 1.3rem;
}

.card-img small {
  position: absolute;
  bottom: 14px;
  left: 14px;
  text-transform: uppercase;
  color: var(--green-system);
  font-size: 11px;
}

.card {
  background: #242424;
  box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1), 0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2), 0 0 0 1px var(--card-border-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.25s;
}

.card-w{
  background: var(--white);
}

.card-body {
  position: relative;
  z-index: 1;
}

.card-bg {
  background-image: url("../img/card-bg.png");
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-position: center;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  background-color: var(--card-background-color);
}

.card .icon {
  z-index: 2;
  position: relative;
  display: table;
  padding: 12px;
}

.card .icon::after {
  content: "";
  position: absolute;
  inset: 4.5px;
  border-radius: 50%;
  background-color: var(--card-icon-background-color);
  border: 1px solid var(--card-icon-border-color);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: background-color 0.25s, border-color 0.25s;
}

.card .icon ion-icon {
  position: relative;
  z-index: 1;
  display: block;
  width: 24px;
  height: 24px;
  transform: translateZ(0);
  color: var(--card-icon-color);
  transition: color 0.25s;
}

.card-w h4, .card-w p, .card-w .text-white {
  color: #242424 !important;
}

.card h4 {
  z-index: 2;
  position: relative;
  margin: 12px 0 4px 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  color: var(--card-label-color);
}

.card small {
  color: var(--light-grey);
  opacity: .4;
}

.card p {
  z-index: 2;
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white);
}

.card .shine {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}

.card .shine:before {
  content: "";
  width: 150%;
  padding-bottom: 150%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 55%;
  filter: blur(35px);
  opacity: var(--card-shine-opacity);
  transform: translateX(-50%);
  background-image: var(--card-shine-gradient);
}

.card .background {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
  mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
}

.card .background .tiles {
  opacity: 0;
  transition: opacity 0.25s;
}

.card .background .tiles .tile {
  position: absolute;
  background-color: var(--card-tile-color);
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
}

.card .background .tiles .tile.tile-4,
.card .background .tiles .tile.tile-6,
.card .background .tiles .tile.tile-10 {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.card .background .tiles .tile.tile-3,
.card .background .tiles .tile.tile-5,
.card .background .tiles .tile.tile-8 {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

.card .background .tiles .tile.tile-2,
.card .background .tiles .tile.tile-9 {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

.card .background .tiles .tile.tile-1 {
  top: 0;
  left: 0;
  height: 10%;
  width: 22.5%;
}

.card .background .tiles .tile.tile-2 {
  top: 0;
  left: 22.5%;
  height: 10%;
  width: 27.5%;
}

.card .background .tiles .tile.tile-3 {
  top: 0;
  left: 50%;
  height: 10%;
  width: 27.5%;
}

.card .background .tiles .tile.tile-4 {
  top: 0;
  left: 77.5%;
  height: 10%;
  width: 22.5%;
}

.card .background .tiles .tile.tile-5 {
  top: 10%;
  left: 0;
  height: 22.5%;
  width: 22.5%;
}

.card .background .tiles .tile.tile-6 {
  top: 10%;
  left: 22.5%;
  height: 22.5%;
  width: 27.5%;
}

.card .background .tiles .tile.tile-7 {
  top: 10%;
  left: 50%;
  height: 22.5%;
  width: 27.5%;
}

.card .background .tiles .tile.tile-8 {
  top: 10%;
  left: 77.5%;
  height: 22.5%;
  width: 22.5%;
}

.card .background .tiles .tile.tile-9 {
  top: 32.5%;
  left: 50%;
  height: 22.5%;
  width: 27.5%;
}

.card .background .tiles .tile.tile-10 {
  top: 32.5%;
  left: 77.5%;
  height: 22.5%;
  width: 22.5%;
}

@-webkit-keyframes tile {

  0%,
  12.5%,
  100% {
    opacity: 1;
  }

  25%,
  82.5% {
    opacity: 0;
  }
}

@keyframes tile {

  0%,
  12.5%,
  100% {
    opacity: 1;
  }

  25%,
  82.5% {
    opacity: 0;
  }
}

.card .background .line {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.35s;
}

.card .background .line:before,
.card .background .line:after {
  content: "";
  position: absolute;
  background-color: var(--card-line-color);
  transition: transform 0.35s;
}

.card-w .background .line:before,
.card-w .background .line:after {
  background-color: #E9E9E7;
}

.card .background .line:before {
  left: 0;
  right: 0;
  height: 1px;
  transform-origin: 0 50%;
  transform: scaleX(0);
}

.card .background .line:after {
  top: 0;
  bottom: 0;
  width: 1px;
  transform-origin: 50% 0;
  transform: scaleY(0);
}

.card .background .line.line-1:before {
  top: 10%;
}

.card .background .line.line-1:after {
  left: 22.5%;
}

.card .background .line.line-1:before,
.card .background .line.line-1:after {
  transition-delay: 0.3s;
}

.card .background .line.line-2:before {
  top: 32.5%;
}

.card .background .line.line-2:after {
  left: 50%;
}

.card .background .line.line-2:before,
.card .background .line.line-2:after {
  transition-delay: 0.15s;
}

.card .background .line.line-3:before {
  top: 55%;
}

.card .background .line.line-3:after {
  right: 22.5%;
}

.card:hover {
  box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);
}

.card:hover .icon::after {
  background-color: var(--card-hover-icon-background-color);
  border-color: var(--card-hover-icon-border-color);
}

.card:hover ion-icon {
  color: var(--card-hover-icon-color);
}

.card:hover .shine {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.card:hover small {
  color: var(--green-system);
  opacity: .7;
}

.card:hover .background .tiles {
  opacity: 1;
  transition-delay: 0.25s;
}

.card:hover .background .tiles .tile {
  -webkit-animation-name: tile;
  animation-name: tile;
}

.card:hover .background .line {
  opacity: 1;
  transition-duration: 0.15s;
}

.card:hover .background .line:before {
  transform: scaleX(1);
}

.card:hover .background .line:after {
  transform: scaleY(1);
}

.card:hover .background .line.line-1:before,
.card:hover .background .line.line-1:after {
  transition-delay: 0s;
}

.card:hover .background .line.line-2:before,
.card:hover .background .line.line-2:after {
  transition-delay: 0.15s;
}

.card:hover .background .line.line-3:before,
.card:hover .background .line.line-3:after {
  transition-delay: 0.3s;
}

/*Second section*/
.s-1 .card {
  height: 100%;
}

.s-1 .card p {
  color: #6c757d !important;
}

.s-1 .card ion-icon {
  font-size: 35px;
}

.s-1 .card h5 {
  margin-top: 1.8rem;
  margin-bottom: 2rem;
}

.card-1.view {
  animation: 0.3s cardFun;
}

.card-2.view {
  animation: 0.6s cardFun;
}

.card-3.view {
  animation: 1s cardFun;
}

@keyframes cardFun {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/*PRODUCT SLIDER*/
.prodSwiper {
  padding: 0 50px;
}

.product-slide {
  padding: 30px;
}

.product-slide .p-logo {
  width: 100%;
  height: 300px;
  margin-bottom: 1.3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-logo img {
  width: 50%;
}

.product-slide .p-logo h5 {
  text-transform: uppercase;
}

.p-logo.magnus {
  background: #08289d;
}

.p-logo.simac {
  background: #69b02f;
}

.p-logo.intel {
  background: #fd7c02;
}

.p-logo.conta {
  background: #6b6b6b;
}

.p-logo.m-light {
  background: #038FE3;
}

.prodSwiper .swiper-button-next,
.prodSwiper .swiper-button-prev {
  border: 1px solid var(--black);
  border-radius: 6px;
  padding: 15px;
  background: var(--white);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
  color: var(--black);
}
/*FOOTER*/
footer small {
  font-size: 0.75rem;
}
.s-footer {
  display: flex;
  width: 100vw;
  height: 65vh;
  margin-top: 4vw;
  border-top: 1px solid #3a3a3e;
  border-bottom: 5px solid var(--green-system);
  background-color: #1c1c1e;
}

.s-footer-con-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 37vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-right: 1px solid #3a3a3e;
}

.s-footer-con-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.s-footer-block {
  display: flex;
  overflow: hidden;
  width: 33.3%;
  height: 100%;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 2rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.s-f-block-title {
  position: relative;
  z-index: 1;
  margin-bottom: auto;
}

.footer-links {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-links li {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.footer-links a {
  color: var(--white);
  text-decoration: none;
  transition: all 0.5s ease;
  height: 100%;
  display: inline-block;
  width: 100%;
}

.footer-links a:hover {
  margin-left: 3%;
}

.footer-block-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#161618),
    to(transparent)
  );
  background-image: linear-gradient(180deg, #161618, transparent);
  height: 0;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

/*Buttons*/
.button {
  display: inline-block;
  height: 3.4rem;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  max-width: 100%;
  position: relative;
  transition: all 0.3s ease;
}

.on-hover {
  position: absolute;
  top: 0px;
  border-radius: 5px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.3s ease;
}

.button:hover .on-hover {
  top: 7px;
  left: 8px;
}

.button:hover ion-icon {
  margin-left: 3px;
  transition: all 0.3s ease;
}

.button-con {
  border: 1px solid #bfbfbf;
  border-top-color: rgb(191, 191, 191);
  border-right-color: rgb(191, 191, 191);
  border-bottom-color: rgb(191, 191, 191);
  border-left-color: rgb(191, 191, 191);
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.button-txt {
  margin-right: 1rem;
  margin-left: 1rem;
  color: #6b6b6e;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: var(--secondary-font);
  font-size: 0.65rem;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.button-arrow-con {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid #bfbfbf;
  border-left-color: rgb(191, 191, 191);
  cursor: pointer;
  width: 42.1px;
  height: 100%;
  justify-content: center;
}

.button-arrow-con .button-icon ion-icon {
  font-size: 18px;
  color: var(--green-system);
}

.dark-button {
  background: var(--dark-grey);
}

.dark-button .button-txt {
  color: var(--white);
}

.dark-button .on-hover {
  border: 1px solid #bfbfbf;
}

.dark-button .button-arrow-con {
  border-left-color: #bfbfbf;
}

.dark-button:hover.button {
  border-color: var(--green-system);
}

.dark-button:hover .button-arrow-con {
  height: 50%;
}

.black-button {
  background: #1c1c1e;
  border-color: #1c1c1e;
}

.black-button .on-hover {
  border: 1px solid #1c1c1e;
}

.black-button .button-txt {
  color: var(--white);
}

.black-button .button-arrow-con {
  border-left-color: #3a3a3e;
}

.black-button:hover.button {
  border-color: transparent;
}

.black-button:hover .button-arrow-con {
  height: 50%;
}

@media (max-width: 64em) {
  .product-slide .p-logo {
    height: 200px;
  }

  .s-indent {
    padding-top: 30%;
  }

  .column-2 {
    columns: 1 20px;
  }

  .w-80 {
    width: 90%;
  }

  .s-footer {
    flex-direction: column-reverse;
    height: auto;
    margin-top: 10vw;
  }

  .s-footer-con-1 {
    width: 100vw;
    border-top: 1px solid #3a3a3e;
  }

  .s-footer-con-2 {
    flex-direction: column;
  }

  .s-footer-block {
    width: 100vw;
    flex-direction: row;
    margin-right: auto;
    padding-top: 12vw;
    padding-left: 1rem;
  }

  .s-f-block-title {
    margin-right: auto;
  }

  .footer-links {
    height: 100%;
    width: 60%;
  }
}

.word {
  bottom: 0;
  color: #fff;
  font-size: 2.5em;
  font-family: var(--main-font);
  font-weight: 500;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  margin: auto;
  right: 0;
  position: absolute;
  text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
  top: 0;
  z-index: 999;
  text-align: center;
}

.word span {
  display: inline-block;
  transform: translateX(100%) scale(0.9);
  transition: transform 500ms;
}

.word .done {
  color: #6f6;
  transform: translateX(0) scale(1);
}

.overlay-l {
  background: #1c1c1e;
  background-size: 1000px 2px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 998;
}
