.s-section.feature-top{
  height: 100% !important;
  margin-top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(71%, #161618), to(rgba(28, 28, 30, 0)));
  background-image: linear-gradient(180deg, #161618 71%, rgba(28, 28, 30, 0));
}

.s-con.feature-top {
  position: relative;
  z-index: 2;
  height: auto;
  margin-top: 275px;
  padding-right: 40px;
  padding-left: 40px;
}

.s-indent-sdt.feature-top {
  padding-top: 5%;
}

.s-indent-sdt.feature-top .logo{
  width: 70%;
}

#name canvas{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 40vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: color 2s .4s;
}

@keyframes color {
  0%{
    height: 80vh;
  }

  100%{
    height: 40vh;
  }
}


@media (max-width:64em) {
  .s-con.feature-top {
    padding-right: 12px;
    padding-left: 12px;
  }
}

